# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDEs and editors
.vs/
obj/
bin/
aspnet-core/src/Sinuca.Web.Host/App_Data/Logs/
aspnet-core/src/Sinuca.Web.Mvc/App_Data/Logs/
aspnet-core/src/Sinuca.Migrator/Logs/Logs.txt

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Others
.vagrant/*
ubuntu*.log